In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import pickle

In [ ]:
data=pd.read_csv('/content/drive/MyDrive/heart.csv')

In [ ]:
data.dtypes

age           int64
sex           int64
cp            int64
trestbps      int64
chol          int64
fbs           int64
restecg       int64
thalach       int64
exang         int64
oldpeak     float64
slope         int64
ca            int64
thal          int64
target        int64
dtype: object

In [ ]:
data.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [ ]:
data.age.nunique()

41

In [ ]:
data.sex.nunique()

2

In [ ]:
data.cp.nunique()

4

In [ ]:
data.trestbps.nunique()

49

In [ ]:
data.chol.nunique()

152

In [ ]:
data.fbs.nunique()

2

In [ ]:
data.restecg.nunique()

3

In [ ]:
data.thalach.nunique()

91

In [ ]:
data.exang.nunique()

2

In [ ]:
data.oldpeak.nunique()

40

In [ ]:
data.slope.nunique()

3

In [ ]:
data.ca.nunique()

5

In [ ]:
data.thal.nunique()

4

In [ ]:
x=data.drop(['target'],axis=1)
y=data['target']

In [ ]:
# split into training and testing 
# training and testing the set is available in the sklearn library
# sklearn-ppt
from sklearn.model_selection import train_test_split
# random state is a counter, in which decides in pattern the data should be selected to training and testing set
# test_size is 0.25 that is 25% data for testing and 75% data for training
x_train,x_test,y_train,y_test=train_test_split(x,y,random_state=42,test_size=0.25)

In [ ]:
x_test

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
179,57,1,0,150,276,0,0,112,1,0.6,1,1,1
228,59,1,3,170,288,0,0,159,0,0.2,1,0,3
111,57,1,2,150,126,1,1,173,0,0.2,2,1,3
246,56,0,0,134,409,0,0,150,1,1.9,1,2,3
60,71,0,2,110,265,1,0,130,0,0.0,2,1,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
22,42,1,0,140,226,0,1,178,0,0.0,2,0,2
258,62,0,0,150,244,0,1,154,1,1.4,1,0,2
56,48,1,0,122,222,0,0,186,0,0.0,2,0,2
242,64,1,0,145,212,0,0,132,0,2.0,1,2,1
114,55,1,1,130,262,0,1,155,0,0.0,2,0,2

In [ ]:
from sklearn import tree 
model=tree.DecisionTreeClassifier()
model.fit(x_train,y_train)
pickle.dump(model,open('models.pkl','wb'))

In [ ]:
model.score(x_test,y_test)

0.8157894736842105

In [ ]:
model.predict(x_test)

array([0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1, 0,
       1, 1, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 1, 1, 1, 0,
       1, 0, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 0,
       1, 1, 1, 1, 1, 1, 1, 1, 0, 1])

In [ ]:
data=pd.DataFrame({'age':[57],
                 'sex':[1],
                 'cp':[0],
                 'trestbps':[150],
                 'chol':[276],
                 'fbs':[0],
                 'restecg':[0],
                 'thalach':[112],
                 'exang':[1],
                 'oldpeak':[0.6],
                 'slope':[1],
                 'ca':[1],1
                 'thal':[1],
                 })
data

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,57,1,0,150,276,0,0,112,1,0.6,1,1,1

In [ ]:
predictions=model.predict(data)
predictions
if predictions==1:
  print('Cancerous')
else:
  print('Not Cancerous')

Not Cancerous

In [ ]:
a=int(input("age"))
b=int(input("sex"))
c=int(input("cp"))
d=int(input("trestbps"))
e=int(input("chol"))
f=int(input("fbs"))
g=int(input("restecg"))
h=int(input("thalach"))
i=int(input("exang"))
j=int(input("oldpeak"))
k=int(input("slope"))
l=int(input("ca"))
m=int(input("thal"))
data=pd.DataFrame({'age':[a],
                 'sex':[b],
                 'cp':[c],
                 'trestbps':[d],
                 'chol':[e],
                 'fbs':[f],
                 'restecg':[g],
                 'thalach':[h],
                 'exang':[i],
                 'oldpeak':[j],
                 'slope':[k],
                 '"ca':[l],
                 'thal':[m]
                 })
data

age57
sex1
cp0
trestbps150
chol276
fbs0
restecg0
thalach112
exang1
oldpeak0
slope1
ca1
thal1

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,"""ca",thal
0,57,1,0,150,276,0,0,112,1,0,1,1,1

In [ ]:
predictions=model.predict(data)
predictions
if predictions==1:
  print('Cancerous')
else:
  print('Not Cancerous')

Not Cancerous

/usr/local/lib/python3.8/dist-packages/sklearn/base.py:493: FutureWarning: The feature names should match those that were passed during fit. Starting version 1.2, an error will be raised.
Feature names unseen at fit time:
- "ca
Feature names seen at fit time, yet now missing:
- ca

  warnings.warn(message, FutureWarning)

In [ ]:
# y_test

In [ ]:
# make logistic regression model
# from sklearn import linear_model
# create instance of the model
# lr=linear_model.LogisticRegression()
# now fitting the instance created to the training data and creating the linear regression model and store into another variable
# model=lr.fit(x_train,y_train)

In [ ]:
# predict the output 
# predictions=model.predict(x_test)
# predictions

In [ ]:
# original value in y_test
# print(y_test)

In [ ]:
# print(predictions)