<a href="https://colab.research.google.com/github/Jaseem1911/Machine-Learning/blob/main/HomeRent.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns 
import matplotlib.pyplot as plt
import pickle

In [ ]:
data=pd.read_csv('/content/drive/MyDrive/House_Rent_Dataset.csv')

In [ ]:
data.dtypes

Posted On            object
BHK                   int64
Rent                  int64
Size                  int64
Floor                object
Area Type            object
Area Locality        object
City                 object
Furnishing Status    object
Tenant Preferred     object
Bathroom              int64
Point of Contact     object
dtype: object

In [ ]:
dataa=data.drop(['Posted On','Floor','Area Type','Area Locality','City','Furnishing Status','Tenant Preferred','Point of Contact'],axis=1)
dataa

      BHK   Rent  Size  Bathroom
0       2  10000  1100         2
1       2  20000   800         1
2       2  17000  1000         1
3       2  10000   800         1
4       2   7500   850         1
...   ...    ...   ...       ...
4741    2  15000  1000         2
4742    3  29000  2000         3
4743    3  35000  1750         3
4744    3  45000  1500         2
4745    2  15000  1000         2

[4746 rows x 4 columns]

In [ ]:
y=dataa['Rent']
x=dataa.drop(['Rent'],axis=1)

In [ ]:
# Split into testing and training
# testing and training library avalable in the sklearn library
# sklearn-ppt
from sklearn.model_selection import train_test_split
# random state is a counter, which decides in which pattern the dataset should 
# be taken for testing and training
# test size is 0.25 that is 25% data for testing and 75% data for training
x_train,x_test,y_train,y_test=train_test_split(x,y,random_state=42,test_size=0.25)

In [ ]:
x_test

      BHK  Size  Bathroom
1566    2  1100         2
3159    2   800         2
538     2   518         2
2630    3  1500         3
4418    3  2235         5
...   ...   ...       ...
978     2   600         2
2458    2   300         1
2471    3  1900         3
1432    2   700         2
2395    1   720         1

[1187 rows x 3 columns]

In [ ]:
y_test

1566    16000
3159    12000
538     28000
2630     8000
4418    46000
        ...
978     65000
2458     6000
2471    75000
1432    31000
2395    22000
Name: Rent, Length: 1187, dtype: int64

In [ ]:
# make logistic regression model
from sklearn import linear_model
# create instance of the model
lr=linear_model.LinearRegression()
# now fitting the instances created to the training data and creating the 
# linear regression model and store int another variable
model=lr.fit(x_train,y_train)
pickle.dump(lr,open('model.pkl','wb'))

In [ ]:
# df=pd.DataFrame(x_test)
# # predict the output

In [ ]:
data=pd.DataFrame({'BHK':[2],
                 'Size':[1100],
                 'Bathroom':[2],
                 })
data

   BHK  Size  Bathroom
0    2  1100         2

In [ ]:
predictions=model.predict(data)
predictions

array([38807.53869951])

In [ ]:
a=int(input("BHK"))
b=int(input("Size"))
c=int(input("Bathroom"))
data=pd.DataFrame({'BHK':[a],
                 'Size':[b],
                 'Bathroom':[c],
                 })
data

BHK2
Size1100
Bathroom2

   BHK  Size  Bathroom
0    2  1100         2

In [ ]:
predictions=model.predict(data)
predictions

array([38807.53869951])