<a href="https://colab.research.google.com/github/Jaseem1911/Machine-Learning/blob/main/tipAmount(1).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import pickle

In [ ]:
data=pd.read_excel('/content/drive/MyDrive/tip-amount_(1).xlsx')

In [ ]:
data.dtypes

Meal                       float64
Observed total bill(xi)    float64
Observed tip bill(yi)      float64
dtype: object

In [ ]:
data.head()

   Meal  Observed total bill(xi)  Observed tip bill(yi)
0   1.0                     34.0                    5.0
1   2.0                    108.0                   17.0
2   3.0                     64.0                   11.0
3   4.0                     88.0                    8.0
4   5.0                     99.0                   14.0

In [ ]:
dataa=data.drop(['Meal'],axis=1)
dataa

   Observed total bill(xi)  Observed tip bill(yi)
0                     34.0                    5.0
1                    108.0                   17.0
2                     64.0                   11.0
3                     88.0                    8.0
4                     99.0                   14.0

In [ ]:
y=dataa['Observed tip bill(yi)']
x=dataa.drop(['Observed tip bill(yi)'],axis=1)

In [ ]:
# split into training and testing 
# training and testing the set is available in the sklearn library
# sklearn-ppt
from sklearn.model_selection import train_test_split
# random state is a counter, in which decides in pattern the data should be selected to training and testing set
# test_size is 0.25 that is 25% data for testing and 75% data for training
x_train,x_test,y_train,y_test=train_test_split(x,y,random_state=42,test_size=0.25)

In [ ]:
x_test

   Observed total bill(xi)
1                    108.0
4                     99.0

In [ ]:
y_test

1    17.0
4    14.0
Name: Observed tip bill(yi), dtype: float64

In [ ]:
# make logistic regression model
from sklearn import linear_model
# create instance of the model
lr=linear_model.LinearRegression()
# now fitting the instance created to the training data and creating the linear regression modeland store into another variable
model=lr.fit(x_train,y_train)
pickle.dump(model,open('tip.pkl','wb'))

In [ ]:
# predict the output 
predictions=model.predict(x_test)
predictions

array([10.82786885, 10.27459016])

In [ ]:
# original value in y_test
print(y_test)

1    17.0
4    14.0
Name: Observed tip bill(yi), dtype: float64

In [ ]:
print(predictions)

[10.82786885 10.27459016]

In [ ]:
data=pd.DataFrame({'Observed total bill(xi)':[108],
                 })
data

   Observed total bill(xi)
0                      108

In [ ]:
a=int(input("Observed total bill(xi)"))
data=pd.DataFrame({'Observed total bill(xi)':[a],})
data

Observed total bill(xi)1000

   Observed total bill(xi)
0                     1000