<a href="https://colab.research.google.com/github/Jaseem1911/Machine-Learning/blob/main/Travel.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
data=pd.read_excel('/content/drive/MyDrive/Travel.xlsx')

In [ ]:
data.dtypes

Observation     int64
Age             int64
Expenditures    int64
dtype: object

In [ ]:
data.head()

   Observation  Age  Expenditures
0            1   49            95
1            2   15           104
2            3   43            91
3            4   45            98
4            5   40            94

In [ ]:
y=data['Expenditures']
x=data.drop(['Expenditures','Observation'],axis=1)

In [ ]:
# split into testing and training 
# training and testing set is available in the sklearn library
# sklearn-ppt
from sklearn.model_selection import train_test_split
# random state is a counter , in which decides in which pattern the data should be selected to training and testing set
# test size is 0.25 that is 25% data for testing and 75% data for training
x_test,x_train,y_test,y_train=train_test_split(x,y,random_state=42,test_size=0.25)

In [ ]:
x_test

    Age
1    15
23   55
5    35
2    43
12   42
15   35
3    45
4    40
21   19
17   27
22   57
18   48
25   39
20   45
7    38
10   52
14   35
19   37
6    42

In [ ]:
y_test

1     104
23     94
5     107
2      91
12     96
15    106
3      98
4      94
21    103
17    105
22    103
18     97
25    108
20     94
7     108
10    101
14    107
19    109
6      96
Name: Expenditures, dtype: int64

In [ ]:
# make logistic regression model
from sklearn import linear_model
# create instances of the model
lr=linear_model.LinearRegression()
# now fitting the instance created to the training data and creating the linear 
# regression model and store into another variable
model=lr.fit(x_train,y_train)

In [ ]:
# predict the output
predictions=model.predict(x_test)
predictions

array([115.94347826,  91.42173913, 103.6826087 ,  98.77826087,
        99.39130435, 103.6826087 ,  97.55217391, 100.6173913 ,
       113.49130435, 108.58695652,  90.19565217,  95.71304348,
       101.23043478,  97.55217391, 101.84347826,  93.26086957,
       103.6826087 , 102.45652174,  99.39130435])

In [ ]:
# original value in y_test
print(y_test)

1     104
23     94
5     107
2      91
12     96
15    106
3      98
4      94
21    103
17    105
22    103
18     97
25    108
20     94
7     108
10    101
14    107
19    109
6      96
Name: Expenditures, dtype: int64

In [ ]:
print(predictions)

[115.94347826  91.42173913 103.6826087   98.77826087  99.39130435
 103.6826087   97.55217391 100.6173913  113.49130435 108.58695652
  90.19565217  95.71304348 101.23043478  97.55217391 101.84347826
  93.26086957 103.6826087  102.45652174  99.39130435]